version: '3.8'

services:
  nginx:
    # 告诉 Docker 使用当前目录下的 Dockerfile 构建镜像
    build: .
    container_name: my-nginx-general
    # 确保服务在异常退出后自动重启
    restart: unless-stopped
    # 暴露 Nginx 监听的内部端口（Coolify 会处理外部映射）
    expose:
      - 8820 
    # 如果您需要持久化日志或配置，可以添加卷，但在 Coolify 上通常不需要
     volumes:
       - ./html:/usr/share/nginx/html
       - ./config/nginx.conf:/etc/nginx/nginx.conf